@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1,900&display=swap'); 

*{ 
    font-family: 'Montserrat', sans-serif; 
   outline: .0625rem dashed #33ff33; 
} 


.Wrap {overflow-x: hidden; overflow-y: hidden;}


.container { display: flex; width: 1200px; margin: 0 auto; } 



.header {position: absolute; top: 0; left: 0; line-height: 80px; color: #fff; font-size: 15px; z-index: 999;}

.header .container {width: 1700px; margin: 0 auto; display: flex; justify-content: space-between;}     

.header ul {display: flex; gap: 20px; }
.header h1 {max-width: 200px;}

.main_visual {height: 100vh; overflow: hidden;}

.main_video { position: relative; width: 100%;}


.latest { position: relative; height: 920px; } 

.swiper-wrapper {position: absolute;}



.collection {height: 100vh;}
.collection img {height: 50%;}












.footer {background: #02291f; color: #fff;}

.footer .container {width:1700px; display: flex; justify-content: space-between; padding-bottom: 100px; vertical-align: middle; }

.footer .container>ul {display: flex;}
.footer .container>ul li a {display: block;}


.footer .footer_icon {font-size: 25px;}
.footer .footer_icon li~li { margin: 0 0 0 15px;}

.footer .middle {gap: 30px; font-size: 13px;}

